{% extends "!layout.html" %}


{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">home</a>|&nbsp;</li>
        <li><a href="{{ pathto('products/index') }}">products</a>|&nbsp;</li>
        <li><a href="{{ pathto('news/index') }}">news</a>|&nbsp;</li>
        <li><a href="{{ pathto('examples/index') }}">examples</a>|&nbsp;</li>
        <li><a href="{{ pathto('downloads/index') }}">downloads</a>|&nbsp;</li>
        <li><a href="{{ pathto('docs/index') }}">docs</a>|&nbsp;</li>
{% endblock %}


{% block relbar1 %}

<div style="background-color: white; text-align: left; padding: 2px 2px 2px 2px">
<a href="{{ pathto('index') }}"><img src="{{
pathto("_static/logo.jpg", 1) }}" border="0"/></a></div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
