{% extends "!layout.html" %}


{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">home</a>|&nbsp;</li>
        <li><a href="{{ pathto('news/index') }}">news</a>|&nbsp;</li>
        <li><a href="{{ pathto('examples/index') }}">examples</a>|&nbsp;</li>
        <li><a href="{{ pathto('downloads/index') }}">downloads</a>|&nbsp;</li>
        <li><a href="{{ pathto('docs/index') }}">docs</a>|&nbsp;</li>
{% endblock %}


{% block relbar1 %}

<div style="background-color: white; text-align: left; padding: 2px 2px 2px 2px">
<a href="{{ pathto('index') }}"><img src="{{
pathto("_static/logo.jpg", 1) }}" border="0"/></a></div>
{{ super() }}
{% endblock %}

{% block document %}
{{super()}}
    <a target="_blank" href="https://github.com/meteoinfo/MeteoInfo">
        <img style="position: fixed; top: 0; right: 0; border: 0;" 
        src="{{ pathto("_static/forkme_right_orange_ff7600.png", 1) }}" 
        alt="Fork me on GitHub">
    </a>
    <a target="_blank" href="https://gitter.im/meteoinfo/community">
        <img style="position: fixed; bottom: 0; right: 0; border: 0;" 
        src="https://badges.gitter.im/meteoinfo/community.svg"
        alt="Join the chat at Gitter">
    </a>
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar2 %}{{ sidebar() }}{% endblock %}
{% block sidebar1 %}{% endblock %}
